.button{
    border: none;
    background: none;
    border-radius: 5px;
    width: 5vw;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-right: 1vw;
    min-width: 80px;
}
#allbuttons{
    display: flex;
    align-items: start;
}
body{
    background-color: #3892aa;
}
.active:hover{
    background-color: rgb(175, 175, 175);
}
.cardImg{
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    image-rendering: pixelated;
}
.disabled{
    opacity: 0.2;
}
.name{
    font-family: Century Gothic;
    font-weight: bold;
    color: rgb(236, 233, 193);
}
.hp{
    font-size: larger;
    margin-bottom: 2px;
}
.fx{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
}
.text {
    font-family: Century Gothic;
    font-weight: bold;
    color: rgb(236, 233, 193);
}
.you{
    color: #59fc26;
}
.enemy{
    color: #f5ec91;
}
.header{
    font-family: Century Gothic;
    font-weight: bold;
    color: rgb(236, 233, 193);
    font-size: x-large;
}
.btn{
    font-family: Century Gothic;
    font-weight: bold;
    color: rgb(236, 233, 193);
    font-size: x-large;
    background-color: #89b9c7;
    border: none;
    border-radius: 4px;
    text-shadow: 1px 1px 0 black;
    padding-left: 4px;
    padding-right: 4px;
}
.btn:hover{
    background-color: #78b2c4;
}
.btn:active{
    background-color: #528291;
}
#end{
    width: 40vw;
    background-color: rgba(71, 71, 71, 0.624);
    outline-style: solid;
    outline: 1;
    outline-color: rgba(45, 45, 45, 0.952);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}